[submodule "dependencies/dpdk"]
	path = dependencies/dpdk
	url = https://github.com/cjdoucette/dpdk
	branch = lpm6-paras
[submodule "dependencies/luajit-2.0"]
	path = dependencies/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
[submodule "dependencies/bird"]
	path = dependencies/bird
	url = http://github.com/cjdoucette/bird.git
	branch = gatekeeper
