[submodule "dependencies/dpdk"]
	path = dependencies/dpdk
	url = https://github.com/cjdoucette/dpdk
	branch = gkv1.2c
[submodule "dependencies/luajit-2.0"]
	path = dependencies/luajit-2.0
	url = https://github.com/AltraMayor/luajit.git
	branch = gkv1.1.0
[submodule "dependencies/bird"]
	path = dependencies/bird
	url = https://github.com/cjdoucette/bird.git
	branch = gatekeeper
