[submodule "dpdk"]
	path = dependencies/dpdk
	url = https://github.com/cjdoucette/dpdk
[submodule "dependencies/luajit-2.0"]
	path = dependencies/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
