Source: gatekeeper
Section: net
Priority: optional
Build-Depends: debhelper (>= 12),
               clang,
               gcc-multilib,
               quilt,
               libc6-dev-i386,
               libcap-dev (>= 2.32),
               libelf-dev,
               libhugetlbfs-bin,
               libkmod-dev,
               linux-headers-generic,
               libmnl0,
               libmnl-dev,
               libnuma-dev,
               meson,
               ninja-build
Maintainer: Andre Nathan <andre@digirati.com.br>
Standards-Version: 4.1.4
Vcs-Browser: https://github.com/AltraMayor/gatekeeper
Vcs-Git: https://github.com/AltraMayor/gatekeeper.git

Package: gatekeeper
Architecture: linux-any
Depends: adduser,
         ucf,
         dpdk-rte-kni-dkms,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Open source DDoS protection system
 Gatekeeper is the first open source DDoS protection system.
