name: compile

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      rte_sdk: ${{ format('{0}/{1}', github.workspace, 'dependencies/dpdk') }}
      rte_target: ${{ 'x86_64-native-linuxapp-gcc' }}

    steps:
    - uses: actions/checkout@v2

    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@master

    - name: Update packages
      run: sudo apt-get update

    - name: Install dependencies
      run: sudo apt-get -y -q install git clang devscripts doxygen libhugetlbfs-bin build-essential linux-headers-`uname -r` libmnl0 libmnl-dev libkmod2 libkmod-dev libnuma-dev libelf1 libelf-dev libc6-dev-i386 autoconf flex bison libncurses5-dev libreadline-dev

    - name: Setup Gatekeeper
      run: sudo ./setup.sh

    - name: Build Gatekeeper
      run: sudo RTE_SDK="$rte_sdk" RTE_TARGET="$rte_target" make
